<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${menus} and ${menus.size()}">no menus :(</p>


<table class="table">

    <tr th:each="menu : ${menus}">
        <a href="'menu/view' + ${menu.id}'"><td th:text="${menu.name}"></td></a>
    </tr>

</table>


<table>
    <tr><a href="menu/add">Add Menu</a></tr>
</table>


</body>
</html>